<%- include('partials/_header.ejs') %>
       
        
<%- include ('partials/_navigation.ejs') %>

        <div class="tm-blog-img-container">
            
        </div>

        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="tm-blog-post">
                            <h3 class="tm-gold-text"><%= news.title %></h3>
                            <p> WRITER : <%=news.user.name%></p>
                            <img src="/img/tm-img-1010x336-1.jpg" alt="Image" class="img-fluid tm-img-post">
                            
                            <p><%= news.description %></p>



                        </div>
                        
                        <div class="row tm-margin-t-big">
                            <% for(let i = 0; i < threenews.length;i++) { %>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                                <div class="tm-content-box">
                                    <img src="/img/tm-img-310x180-1.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
                                    <h4 class="tm-margin-b-20 tm-gold-text"><%= threenews[i].title %></h4>
                                    <p class="tm-margin-b-20"><%= threenews[i].description.substring(0, 100)+"..."%></p>
                                    <a href="/mynews/<%=threenews[i].id%>" class="tm-btn text-uppercase">Detail</a>    
                                </div>  

                            </div>
                            <%}%>
                            

                              
                        </div>
                        
                    </div>

                    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">

                        <div class="tm-aside-container">

                            <h3 class="tm-gold-text tm-title">
                                Categories
                            </h3>
                            <hr class="tm-margin-t-small"> 
                            <% for(let i = 0; i < categories.length;i++) { %>
                            <nav>
                                <ul class="nav">
                                    <li><a href="#" class="tm-text-link"><%= categories[i].name %></a></li>
                                    
                                </ul>
                            </nav>
                            <%}%>
                            
                               
                             

                                  
                        </div>
                        
                        
                    </aside>

                </div>
                
            </div>
        </section>
        
        <%- include('partials/_footer.ejs') %>
       
        


        <!-- load JS files -->
        <script src="js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap, http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h --> 
        <script src="js/bootstrap.min.js"></script>                 <!-- Bootstrap (http://v4-alpha.getbootstrap.com/) -->
       
</body>
</html>